<h1>Create Blog Post</h1>
<%= form_with model:@blog, :class => 'form', local:true do |form| %>
    <%= form.label :title, "Title of Blog: "%>
    <%= form.text_field :title%>
    <br>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <br>
    <%= form.label :content, "What's on your mind?: "%>
    <%= form.text_field :content%>
    <br>
    <br>
    <%= form.submit :submit, :class => 'submit' %>
<% end %>

<p class="home">Back To <%= link_to 'All the Blogs', blogs_path %></p>
